.head{
    background-image: url("./IMAGES/background1.jpeg")
    text-align: center;
    background-size: cover;
    height: 400px;
    
}
.us{
    text-align:center; 
    background-image: url("./IMAGES/background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;

}
