h1{
    text-align: left;
    color:whitesmoke;
    font: 1em sans-serif;
    padding: 10px;
    font-size: 30px;
} 
P{
    text-align: left;
    padding: 30px;
    color: white;
    font-size: 30px;
}
body{
    background-color: blue;
}
.container{
    align-items: center;
}
.row{
    align-items :center;
}
.col-md-6{
    align-items: center;

}
h1 strong{
    text-align: center;
    padding: 30px
} 




