h1{
    text-align: left;
    color:whitesmoke;
    font-size: 30px;

} 
P{
    text-align: left;
    padding: 30px;
    color: white;
    font-size:30px;
    
}
body{
    background-image: url("/images/backgroun2.jpeg ");
    background-repeat: no-repeat;
    background-size:cover;
}


}
h1 strong{
    text-align: center;
    padding: 30px
} 
form{
    align-items:center;
}




